<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Identifier</mat-label>
    <input matInput formControlName="identifier">
  </mat-form-field>

  <ng-container #additionalFiltersRef></ng-container>

  <mat-form-field>
    <mat-label>New filter</mat-label>
    <mat-select #addFilterSelectRef (selectionChange)="addFilter($event.value)">
      @for (filter of availableFilters | keyvalue; track filter.key) {
        @if (!this.form.contains(filter.key)) {
          <mat-option [value]="filter.key">{{ filter.value }}</mat-option>
        }
      }
    </mat-select>
  </mat-form-field>

  <button mat-button type="submit">Submit</button>
</form>

<ng-template #creatorField [formGroup]="form">
  <mat-form-field>
    <mat-label>Creator</mat-label>
    <input matInput formControlName="creator">
    <button mat-icon-button matSuffix (click)="removeFilter('creator')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-template>

<ng-template #creationDateField [formGroup]="form">
  <mat-form-field>
    <mat-label>Creation date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="creationDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button mat-icon-button matSuffix (click)="removeFilter('creationDate')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-template>
